# GameBar init script
# NOTE: Customize these paths for your device's hardware

on boot
    # FPS measurement path (adjust paths)
    chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
    chmod 0660 /sys/class/drm/sde-crtc-0/measured_fps

    # Battery temperature path (adjust paths)
    chown system system /sys/class/power_supply/battery/temp
    chmod 0660 /sys/class/power_supply/battery/temp
    
    
    # GPU paths (adjust paths)
    chown system system /sys/class/kgsl/kgsl-3d0/gpu_busy_percentage
    chmod 0660 /sys/class/kgsl/kgsl-3d0/gpu_busy_percentage
    chown system system /sys/class/kgsl/kgsl-3d0/gpuclk
    chmod 0660 /sys/class/kgsl/kgsl-3d0/gpuclk
    chown system system /sys/class/kgsl/kgsl-3d0/temp
    chmod 0660 /sys/class/kgsl/kgsl-3d0/temp
    
    # RAM frequency path (adjust paths)
    chown system system /sys/devices/system/cpu/bus_dcvs/DDR/cur_freq
    chmod 0660 /sys/devices/system/cpu/bus_dcvs/DDR/cur_freq
    
    